<div class="container">
  <div class='mt-5'>
    <h3>Movies to watch 🍿</h3>
    <div class='form-check mt-4'>
      <input type="checkbox" class="form-check-input">
      <label>Check all</label>
    </div>
    <hr>
    <div>
      <% @movies.each do |movie| %>
        <div class='form-check'>
          <input type="checkbox" class="form-check-input">
          <label><%= movie.title %></label>
        </div>
      <% end %>
      <hr>
      <button class='btn btn-sm btn-danger mt-3'>Delete selected movies</button>
    </div>
  </div>
</div>

